{% load static %}
<!DOCTYPE html>
<!-- Header Menu of the Page -->
<header>
    <!-- Top header menu containing
        logo and Navigation bar -->
    <div id="top-header">
        <!-- Logo -->
        <div id="logo">
                <img src="{% static 'img/logo_yarpivo.jpeg' %}" alt="My image">
        </div>
        <!-- Navigation Menu -->
        <nav>
            <ul>
                <li class="active">
                    <a href="/admin">Админ панель</a>
                </li>
                <li>
                    <a href="/index">План работ</a>
                </li>
                <li>
                    <a href="/detail">Подготвка event calendar</a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- Image menu in Header to contain an Image and
        a sample text over that image -->
    <div id="header-image-menu">
    </div>
</header>