<!DOCTYPE HTML>
<html>
 <head>
  <meta charset="utf-8">
  <title>Таблица размеров обуви</title>
     <style type="text/css">
   TABLE {
    width: 100%; /* Ширина таблицы */
    height: 100%; /* Высота таблицы */
   }
  </style>
 </head>
 <body>

  <table border="1" align="left">
   <caption><h1>План работ на {{datetime}}</h1></caption>
   <tr>
    <th align="center">Деталь</th>
    <th align="center">Кол-во</th>
    <th>Материал</th>
    <th>Станки</th>
    <th>Фото</th>
    <th>Дата начала изготовления</th>
    <th>Дата окончания изготовления</th>
    <th>Срочность</th>
    <th>Ссылка на проэкт</th>
   </tr >
      {% for d in data %}
        <tr>
            <td bgcolor="green">{{d.EAM}}</td>
            <td>{{d.quantity}}</td>
            <td>{{d.EAM.mater}}</td>
            <td>{{d.machine}}</td>
            <td><img src="{{d.EAM.photo.url}}" style="max-width:100px; max-height:100px"/></td>
            <td>{{d.start_time}}</td>
            <td>{{d.end_time}}</td>
            <td>{{d.speed}}</td>
            <td><a href="/admin/viewsDB/detail/{{d.EAM.EAM}}"> Ссылка на деталь</a></td>
        </tr>
      {% endfor %}
  </table>
 </body>
</html>